<div class="row">
  <div class="col-md-5" *ngIf="tienda">
    <div class="row">
      <div class="col-xs-12">
        <h1>{{tienda.nombre}}</h1>
        <h3>{{tienda.direccion}}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <img [src]="tienda.fotoUrl" alt="{{tienda.numbre}}" class="img-responsive" style="max-height: 300px;">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-success" (click)="editarTienda()">Editar</button>
        <button type="button" class="btn btn-danger" routerLink="/plato">Cancelar</button>
      </div>
    </div>
  </div>  
  <div class="col-md-7">
    <router-outlet></router-outlet>
  </div>
</div>