
<button type="button" [ngClass]="btnClass" (click)="openModal(template)">{{labelBoton}}</button>
<br><br>
<div *ngIf="flagConfirmado === true" class="alert alert-success">
   {{titulo}} confirmado
</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>¿Desea confirmar el {{titulo}}?</p>
    <button type="button" class="btn btn-primary" (click)="confirm()" >Si</button>
    <button type="button" class="btn btn-default" (click)="decline()" >No</button>
  </div>
</ng-template>