<div class="row" >
  <div class="col-xs-12">    
    <form [formGroup]="form" (ngSubmit)="operar()" >
      <div class="row" [hidden]="true">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="id">ID</label>
              <input type="text" id="id" class="form-control" name="id" required formControlName="id">
            </div>
          </div>
      </div>  
      
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" class="form-control" name="nombre" required formControlName="nombre">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="urlImagen">Imagen URL</label>
            <input type="text" id="urlImagen" class="form-control" name="urlImagen" required formControlName="urlImagen" #url>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <img [src]="url.value" class="img-responsive" width="250" height="250">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="precio">Precio</label>
            <input type="number" id="precio" class="form-control" name="precio" required formControlName="precio">
          </div>
        </div>
      </div>

      <div class="row">
          <div class="col-xs-12">
            <button type="submit" class="btn btn-success" [disabled]="form.invalid">Aceptar</button>
            <button type="button" class="btn btn-danger" routerLink="/plato">Cancelar</button>
          </div>
        </div>
    </form>
  </div>
</div>
